{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['admin_contacts', 'admin_contacts_edit'] %}

{% block title %}問い合わせ管理{% endblock %}
{% block sub_title %}問い合わせ返信{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        $(function() {
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form name="form1" id="form1" method="post" autocomplete="off">
            {{ form_widget(form._token) }}
            <div id="detail_wrap" class="col-md-12">
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__body" class="box-body">
                        <div id="detail_box__subject" class="form-group">
                            {{ form_label(form.subject) }}
                            <div class="col-sm-9 col-lg-10 padT07">
                                {{ form_widget(form.subject) }}
                                {{ form_errors(form.subject) }}
                            </div>
                        </div>
                        <div id="detail_box__contents" class="form-group">
                            {{ form_label(form.contents) }}
                            <div class="col-sm-9 col-lg-10 padT07">
                                {{ form_widget(form.contents) }}
                                {{ form_errors(form.contents) }}
                            </div>
                        </div>
                        <div id="detail_box__memo" class="form-group">
                            {{ form_label(form.memo) }}
                            <div class="col-sm-9 col-lg-10 padT07">
                                {{ form_widget(form.memo) }}
                                {{ form_errors(form.memo) }}
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div id="detail__insert_button" class="row btn_area">
                    <p class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" name="mode" value="confirm">送信確認</button>
                    </p>
                    <!-- /.col -->
                </div>
                <div id="detail__back_button" class="row hidden-xs hidden-sm">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        {% if id is not null %}
                            <p><a href="{{ url('admin_contacts_edit', {'contact_id': plg_contacts.id,'page_no':app.request.query.get("page_no")}) }}">戻る</a></p>
                        {% endif %}
                    </div>
                </div>
            </div><!-- /.box -->
        </form>
    </div>
{% endblock %}
