{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}新着情報管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/spin.min.js"></script>
<script>
$(function() {

    var opts = {
        lines: 13,
        length: 30,
        width: 2,
        radius: 12,
        corners: 1,
        rotate: 0,
        direction: 1,
        color: '#BBB',
        speed: 1,
        trail: 67,
        shadow: true,
        hwaccel: false,
        className: 'spinner',
        zIndex: 2e9,
        top: top
    };

    ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
    ImageSpinner.stop();

    $('.push-button').click(function() {
        $('.push-button').attr('disabled', 'disabled');
        ImageSpinner.spin(document.getElementById('spinner'));
    });
});
</script>
<script>
function changeAction(action) {
    document.form1.action = action;
    document.form1.submit();
}
</script>
{% endblock javascript %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">新着情報管理</h3>
                </div><!-- /.box-header -->
                <div id="spinner"></div>
                <div class="box-body">
                    <form name="form1" id="form1" method="post" action="">
                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>順位</th>
                                            <th>日付</th>
                                            <th>タイトル</th>
                                            <th>通知</th>
                                            <th>状態 (クリック数/送信数)</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for NewsEx in NewsList %}
                                    {% set News = NewsEx.News %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ News.date|date("Y/m/d") }}</td>
                                            <td>{{ News.title }}</td>
                                            <td style="text-align:center">
                                                <button type="submit"  class="btn btn-default btn-sm push-button" {% if NewsEx.push_status == "1" %}disabled{% endif %} onclick="location.href='{{ url('admin_content_news_push', {id: News.id}) }}'; return false;">送信</button>
                                            </td>
                                            <td>
                                                {% if NewsEx.push_status == "1" %}
                                                    送信済&nbsp;({{ NewsEx.click }}/{{ NewsEx.push_count }})
                                                {% else %}
                                                    未送信&nbsp;(送信対象：{{ pushCount }}件)
                                                {% endif %}
                                            </td>
                                            <td class="icon_edit">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{{ url('admin_content_news_edit', {id: News.id}) }}" >編集</a></li>
                                                        <li><a href="{{ url('admin_content_news_delete', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="この新着情報を削除してもよろしいですか？">削除</a></li>
                                                        {% if loop.first == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_up', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if loop.last == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_down', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.box -->
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <a href="{{ url('admin_content_news_new') }}" class="btn btn-primary btn-block btn-lg">新規登録</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}