{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% block javascript %}
<script>
    $(function(){
        $('.main_visual').slick({
            dots: true,
            arrows: false,
            autoplay: true,
             fade: false,
            speed: 500
        });
    });
</script>
{% endblock %}

<div class="row">
 <div class="col-sm-12">
    <div class="main_visual">

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/501"><img src="http://inyoumarket.com/wp-content/uploads/2018/11/market_minery.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 <div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/516"><img src="http://inyoumarket.com/wp-content/uploads/2018/12/market_fivele.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 <div class="item">
          <a href="http://inyoumarket.com/hony/"><img src="http://inyoumarket.com/wp-content/uploads/2018/10/market_1120_540.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/517"><img src="http://inyoumarket.com/wp-content/uploads/2018/12/market_keiso.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 <div class="item">
          <a href=" http://inyoumarket.com/preventionofcold/"><img src="http://inyoumarket.com/wp-content/uploads/2018/10/macrobic_kaze_slider-1.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/368"><img src="http://inyoumarket.com/wp-content/uploads/2019/01/market_moringa_main2-1.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 <div class="item">
          <a href=" https://inyoumarket.com/shops/products/detail/486"><img src="http://inyoumarket.com/wp-content/uploads/2018/11/サウンドテックバナーTOP.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/509"><img src="http://inyoumarket.com/wp-content/uploads/2018/12/market_pwder_main.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/518"><img src="http://inyoumarket.com/wp-content/uploads/2018/12/market_honey2-1.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 <div class="item">
          <a href=" https://inyoumarket.com/shops/products/detail/249"><img src="http://inyoumarket.com/wp-content/uploads/2018/11/market_181024.jpg" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>

 
<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/458"><img src="http://inyoumarket.com/wp-content/uploads/2018/12/market_181203.jpg"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/374"><img src="{{ app.config.front_urlpath }}/img/market_slider0814.png"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/367"><img src="{{ app.config.front_urlpath }}/img/top/market_slider0423B.png"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/250"><img src="http://inyoumarket.com/wp-content/uploads/2018/10/market_slider0913.png" alt="" width="1120" height="540" class="alignnone size-full wp-image-20735" /></a>
      </div>


<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/347"><img src="{{ app.config.front_urlpath }}/img/top/market_slider0312A.png"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/396"><img src="{{ app.config.front_urlpath }}/img/top/market_slider0530B.png"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/360"><img src="{{ app.config.front_urlpath }}/img/top/market_slider0423C.png"></a>
      </div> 

<div class="item">
          <a href="https://inyoumarket.com/shops/products/detail/375"><img src="{{ app.config.front_urlpath }}/img/top/market_slider0423A.png"></a>
      </div> 
   
<div class="item">
          <a href="https://inyoumarket.com/shops/products/list?category_id=&name=%E3%83%93%E3%82%BF%E3%83%9F%E3%83%B3"><img src="{{ app.config.front_urlpath }}/img/top/market_sliderC0908.png"></a>
      </div>    


     
     
  </div>
</div>
</div>