{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="new_product">
    <section class="ranking">

       <h2 class="sec_title slide-bottom">
            <svg class="tit_img">
                <use xlink:href="#tit_ranking" />
            </svg>
        </h2>
        <div class="ranking">
            <ol>
                    <!--1位-->
                    <li class="slide-bottom">
                        <a href="https://inyoumarket.com/shops/products/detail/6">
                            <dl>
                                <dt>
                                    <svg class="ranking_ico_01">
                                        <use xlink:href="#ico_ranking01" />
                                    </svg>
                                </dt>
                                <dd>
                                    <p><img src="{{ app.config.front_urlpath }}/img/top/img_ranking_01.jpg" alt=""></p>
                                    <p>沖縄産オーガニックモリンガパウダー</p>
                                    <p class="item_price">\3,240</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <!--2位-->
                     <li class="slide-bottom">
                        <a href="https://inyoumarket.com/shops/products/detail/7">
                            <dl>
                                <dt>
                                    <svg class="ranking_ico_01">
                                        <use xlink:href="#ico_ranking02" />
                                    </svg>
                                </dt>
                                <dd>
                                    <p><img src="{{ app.config.front_urlpath }}/img/top/img_ranking_02.jpg" alt=""></p>
                                    <p>ニュージーランド産オーガニックマヌカハニー</p>
                                    <p class="item_price">￥3,750</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <!--3位-->
                     <li class="slide-bottom">
                        <a href="https://inyoumarket.com/shops/products/detail/3">
                            <dl>
                                <dt>
                                    <svg class="ranking_ico_01">
                                        <use xlink:href="#ico_ranking03" />
                                    </svg>
                                </dt>
                                <dd>
                                    <p><img src="{{ app.config.front_urlpath }}/img/top/img_ranking_03.jpg" alt=""></p>
                                    <p>天然楠木-しょうのう-</p>
                                    <p class="item_price">￥1,404</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <!--4位-->
                     <li class="slide-bottom">
                        <a href="https://inyoumarket.com/shops/products/detail/5">
                            <dl>
                                <dt>
                                    <svg class="ranking_ico_02">
                                        <use xlink:href="#ico_ranking04" />
                                    </svg>
                                </dt>
                                <dd>
                                    <p><img src="{{ app.config.front_urlpath }}/img/top/img_ranking_04.jpg" alt=""></p>
                                    <p>天然のクスノキウォーター＆ウッドチップセット</p>
                                    <p class="item_price">￥3,240</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <!--5位-->
                     <li class="slide-bottom">
                        <a href="https://inyoumarket.com/shops/products/detail/4">
                            <dl>
                                <dt>
                                    <svg class="ranking_ico_02">
                                        <use xlink:href="#ico_ranking05" />
                                    </svg>
                                </dt>
                                <dd>
                                    <p><img src="{{ app.config.front_urlpath }}/img/top/img_ranking_05.jpg" alt=""></p>
                                    <p>屋久島無農薬クスノキスプレー×2本</p>
                                    <p class="item_price">￥3,240</p>
                                </dd>
                            </dl>
                        </a>
                    </li>
            </ol>
        </div>
    </section><!--ranking-->
    <section id="top_banner">
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item slide-bottom">
                <a href="https://inyoumarket.com/shops/products/list">
                    <div class="item_photo">
                        <img src="{{ app.config.front_urlpath }}/img/top/ban_top_01.jpg">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item slide-bottom">
                <a href="https://inyoumarket.com/shops/user_data/entrypage">
                    <div class="item_photo">
                        <img src="{{ app.config.front_urlpath }}/img/top/ban_top_02.jpg">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
           <div class="pickup_item slide-bottom">
            <a href="https://inyoumarket.com/shops/contact">
                <div class="item_photo">
                    <img src="{{ app.config.front_urlpath }}/img/top/ban_top_03.jpg">
                </div>
            </a>
        </div>
    </div>
</section><!--/#top_banner-->
</div>